<p>Here are som guidlines</p>
<p>you might have some problems connecion to the mongo DB i have</p>
<div class="instructions">
  <p>
    Builder- this is where you define the Recepie.
  </p>
  <p>select Builder from top menu</p>
  <p>1. Type recepie title</p>
  <p>
    2. Select from the equipmnt list (click/ unclick) the asset required for
    this recepie
  </p>
  <p>3. change the qty for each of the selected Assets</p>
  <p>steps:</p>
  <p>Type Step description</p>
  <p>Add instructions Load images for this step.</p>
  <p>
    click next step / prev step to move between steps. once done click on the
    finish button
  </p>
  <hr />
  <p>Viewer - this is where you use the recepie.</p>
  <p>select Viewer from top menu</p>
  <p>Select Recepie from the the list (click to select).</p>
  <p>
    you can retun to the Recepie list by clicking on the button on the top right
    side
  </p>
</div>
